body {background-color: #020202;
    color: #7cc676;
    font-family: monospace;
    padding-right: 10%;
    padding-left: 10%;
    }

h3 {
    text-decoration: underline;
}
a:link {
    background-color: #020202;
    color: #aff9a9;
    font-family: monospace;
}

a:visited {
    background-color: #020202;
    color: #aff9a9;
    font-family: monospace;
}
