body {background-color: #020202;
    color: #7cc676;
    font-family: monospace;
    padding-right: 50px;
    paddinng-left: 20px;
    }
a:link {
    background-color: #020202;
    color: #aff9a9;
    font-family: monospace;
}

a:visted {
    background-color: #020202;
    color: #aff9a9;
    font-family: monospace;
}
